:root {
  --lineheight: 1.5rem;
  --size-avatar: 25px;
  scroll-behavior: smooth;
}
/* .form-label {
  background-color: lightblue;
  clip-path: polygon(0% 0%, 100% 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
  padding-left: 5px;
  padding-right: 20px;
} */

p{
  margin-bottom: .7rem;
}

/* Sidebar */
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
.fw-semibold { font-weight: 600; }
.scrollarea {
  overflow-y: auto;
}
.lh-tight { line-height: 1.25; }

/* Login & Dashboard */
#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

/* Kodingan Sendiri */
.row i {
  margin-right: 10px;
  margin-left: 10px;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--bs-info);
}

.ps-2 li a{
  color: var(--bs-light);
  text-decoration: none;
}
.ps-2 li a:hover {
  color: var(--bs-info) !important;
}
.hubungi li a:hover {
  color: var(--bs-info) !important;
}

.avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
}
.bg-eris-susu {
  background-color: rgba(0, 0, 0, 0.03);
}
.gallery-item {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
#gallery-modal .modal-img{
  width: 100%;
}
.eris-mh{
  max-height: 50vh;
}
.eris-mh-20{
  max-height: 20vh;
}
.img-preview{
  max-height: 110px;
}
.fotoformal{
  width: auto;
  height: 40px;
}
.description{
  line-height: var(--lineheight);
  max-height: calc(var(--lineheight) * 3);
  overflow: hidden;
}
.bg-impact{
  background-color: rgb(165, 5, 42);
}
.btn-link:hover{
  background-color: gray;
  color: var(--bs-white);
}


/* ------------- BREAKPOINTS ------------- */

@media (max-width: 410px) {
  
}

@media (max-width: 576px) {
}
@media (max-width: 768px) {
  .eris-md-mh{
    max-height: 40vh;
  }
  .eris-hidden {
    display: none;
  }
}

@media (max-width: 992px) {
  
}
