:root {
  --lineheight: 1.5rem;
  --size-avatar: 25px;
}
/* .form-label {
  background-color: lightblue;
  clip-path: polygon(0% 0%, 100% 0, 100% 0, calc(100% - 12px) 100%, 0% 100%);
  padding-left: 5px;
  padding-right: 20px;
} */

/* Kodingan Sendiri */
.row i {
  margin-right: 10px;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--bs-info);
}

.ps-2 li a{
  color: var(--bs-light);
  text-decoration: none;
}
.ps-2 li a:hover {
  color: var(--bs-info) !important;
}
.hubungi li a:hover {
  color: var(--bs-info) !important;
}

.eris-80vh{
  height: 80vh;
}

.avatar {
  width: var(--size-avatar);
  height: var(--size-avatar);
}
.bg-eris-susu {
  background-color: rgba(0, 0, 0, 0.03);
}
.gallery-item {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
#gallery-modal .modal-img{
  width: 100%;
}
.eris-mh{
  max-height: 50vh;
}
.eris-mh-20{
  max-height: 20vh;
}
.table > tbody > tr > *{
  vertical-align: middle;
}


/* ------------- BREAKPOINTS ------------- */

@media (max-width: 410px) {
  
}

@media (max-width: 576px) {
}
@media (max-width: 768px) {
  .eris-80vh{
    height: auto;
  }
  .eris-hidden {
    display: none;
  }
}

@media (max-width: 992px) {
  .eris-80vh{
    height: auto;
  }
}
